/* Roboto */
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url('../fonts/Roboto-Bold.ttf');
}

/* RussoOne */
@font-face {
  font-weight: 400;
  font-family: RussoOne;
  src: url('../fonts/RussoOne-Regular.ttf');
}

body {
  font-family: Roboto, sans-serif;
  background-color: $background;
  color: $font;
}

h1 {
  font-family: RussoOne, sans-serif;
  font-size: 1.3em;
}

.h1 {
  font-family: RussoOne, sans-serif;
  font-size: 1.3em;
}

.anim-show {
	opacity: 0;
	transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
	animation: show 1s 1;
  animation-fill-mode: forwards;
}

.button {
  background-color: $button-background;
  color: $font;
  font-family: Roboto, sans-serif !important;
  font-weight: 500;

  &:active, &:hover {
    background-color: $button-background-active !important;
    color: $font !important;
  }
}

.border-button {

  .ant-radio-button-wrapper-checked,
  .ant-radio-button-wrapper-checked:active,
  .ant-radio-button-wrapper-checked:hover,
  .ant-radio-button-wrapper-checked:first-child {
    border-color: $button-background-active-dark;
    color: $button-background-active-dark;

    &::before {
      background-color: $button-background-active-dark;
    }
  }

  &:hover {
    color: $button-background-active-dark;
  }

  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    border-color: $button-background-active-dark;
    color: $button-background-active;
  }
}

.ant-btn, .ant-btn-default:active {
  font-family: Roboto, sans-serif !important;
  font-weight: 500 !important;
  border-color: $button-background !important;
}

.ant-color-picker-trigger:hover {
  border-color: $button-background-active;
}

.ant-input-outlined,
.ant-input-number,
.ant-input-number-affix-wrapper {
  
  &:hover, &:focus-within {
    border-color: $button-background;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px rgba(255, 188, 5, 0.1);
  }
}

.label-group {

  .roboto-500 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
  }

  ul {
    padding-left: 1rem;

    li::before {
      content: url('../images/marker.svg');
      margin-right: 0.6rem;
      margin-top: 0.5rem;
    }
  }
}

.button-height {
  height: 2.8em;
}

.mb-3-5 {
  margin-bottom: 2.2em !important;
}

.fs-7 {
  font-size: 0.9em;
}

.spinner {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}

.ant-steps {
  height: 70vh;
}

.back-button {
  position: absolute;
  left: 2rem;
  top: 3rem;

  &::before {
    content: url('../images/back.svg');
  }
}

.ant-input-number-affix-wrapper .ant-input-number-suffix {
  margin-inline-end: 1em;
}

.ant-modal .reduced-padding .ant-modal-content {
  padding: 20px 10px;

  .ant-result {
    padding: 38px 0;
  }
}

.verification-character {
  border-radius: 10px;
  border-color: $border-color;
  font-size: 1.5rem;
  line-height: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-progress .ant-progress-bg {
  animation: progress 60s linear;
  transition: none;
  background: $button-background;
}

.text-muted {
  color: $border-color !important;
  font-size: 0.9em !important;
}

.ant-form {
  font-family: Roboto, sans-serif !important;
}

.error-message {
  color: $font-error;
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0;
  bottom: -2em;
}

.vi__character--selected {
  color: $font;
  outline: 2px solid $button-background;
  border: unset;
}

.ant-picker-calendar-mode-switch {
  display: none;
}

.ant-drawer {
  height: 100vh;

  &-content {
    background-color: $background !important;
    align-items: center;

    .ant-drawer-header {
      padding-top: 1.5em;
      width: 100%;
      text-align: center;
    }

    .ant-drawer-body {
      width: 80%;

      .button {
        background-color: $button-background-menu;
      }
    }
  }
}

@keyframes progress {
	0% { width: 100%;	}
	100% { width: 0%;	}
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width: 768px) {
  .container {
    width: 500px;
  }
}