$font: #2f323a;
$background: #f8f9fb;
$button-background: #ffcc80;
$button-background-active: #eeba6d;
$button-background-active-dark: #ff8800;
$button-background-menu: #fff;
$border-color: #76819e;
$chat-modal: #d07878;
$chat-message: #fdcf894d;
$table-column: #fff4da;
$font-error: #ff4d4f;